.buildozer
bin
.git
__pycache__
.vscode
*.pyc
*.pyo
*.pyd
.DS_Store
build_log.txt
README-Android.md
README.md
DOCKER_BUILD.md
run-server.py
server.py
start-server.bat
start-server.sh
build-apk.bat
build-apk.sh
buildozer.spec
